*{
  list-style-type: none;
  text-decoration: none;
}
#resume{
  width: 100%;
  height: 800px;
}
.information ul li,
.tel ul li{
  float: left;
}
.clear{
  content: "";
  display: table;
  clear: both;
}
ul li{
  margin-right: 30px;
}
ul li strong{
  margin-right: 10px;
}
ul li p{
  margin: 5px 0;
}